<br>
<br>
<div class="container">
   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading">Welcome Movie Fan <span class="text-muted">Glad you are visiting our site!</span></h2>
       <p class="lead">We are excited about all movies old and new. Join us in our journey to discover hidden gems!</p>
     </div>
     <div class="col-md-5">
       <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/blackPanther copy.jpg" width="500" height="500"/>
      </div>
   </div>
